<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="dropdown1=1-dropdown1" ng-init="dropdown1=0">
    Home <span class="caret"></span>
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="dropdown1=1-dropdown1" ng-init="dropdown1=0">
    Add Film <span class="caret"></span>
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="dropdown1=1-dropdown1" ng-init="dropdown1=0">
    DashBoard <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" ng-show="dropdown1>0">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>